<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Medical Symptoms Questionnaire'}, ~{ :: .navigation}, ~{ :: .content})">
	<div class="navigation">
		<div th:insert="fragments/navigation :: navigation"></div>
	</div>
	<div class="content">
		<!-- TODO: translate 'Medical Symptoms Questionnaire' at the top, replace with #{messages.translation_key} -->
		<h2>Medical Symptoms Questionnaire</h2>
		<h3>Analyze Data</h3>
	</div>
</body>
</html>