<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout('Medical Symptoms Questionnaire', ~{ :: .navigation}, ~{ :: .content})">
	<div class="navigation">
		<div th:insert="fragments/navigation :: navigation"></div>
	</div>
	<div class="content">
		<!-- TODO: translate 'Medical Symptoms Questionnaire' at the top, replace with #{messages.translation_key} -->
		<h2>Medical Symptoms Questionnaire</h2>
		<h3>Display Data</h3>
		<br>
		
		<form action="#" th:action="@{/msq/display-data}"
			  method="POST">
			<label for="startDate">Start Date:</label> <br /> <input
				name="startDate" type="date" required="required"
				th:value="${startDate}" /> <br />
			<br /> <label for="endDate">End Date:</label> <br /> <input
				name="endDate" type="date" required="required" th:value="${endDate}" />

			<br />
			<br />
			<input type="submit" th:value="#{messages.submitbutton}"/>
		</form>
	</div>
</body>
</html>