<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(#{messages.fragments.navigation.msq}, ~{ :: .navigation}, ~{ :: .content})">
	<div class="navigation">
		<div th:insert="fragments/navigation :: navigation"></div>
	</div>
	<div class="content">
		<h2 th:text="#{messages.fragments.navigation.msq}"></h2>		
		<h3 th:text="#{messages.fragments.navigation.msq.display-data}"></h3>
		
		<div>
			<p th:text="#{messages.msq.show-data.text}"></p>
		</div>
		
		<table class="table table-bordered table-striped">
			<th:block th:each="row, loop : ${tableData}">
				<tr th:if="${loop.index} < 1">
					<th:block th:each="column : ${row}">
						<th th:text="${column}"></th>
					</th:block>
				</tr>
				<tr th:if="${loop.index} > 0">
					<th:block th:each="column : ${row}">
						<td th:text="${column}"></td>
					</th:block>
				</tr>
			</th:block>
		</table>
	</div>
</html>