<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(#{messages.fragments.navigation.user-home}, ~{ :: .navigation}, ~{ :: .content})">
	<div class="navigation">
		<div th:insert="fragments/navigation :: navigation"></div>
	</div>
	<div class="content">
		<h2 th:text="#{messages.fragments.navigation.user-home}"></h2>
		<h3 th:text="#{messages.fragments.navigation.change-profile.change-password}"></h3>
		<br/>

		<form action="#" th:action="@{/changepassword}"
			  th:object="${changePasswordDto}" method="POST">

			<strong><label for="oldPassword" th:text="#{messages.changePassword.oldPassword} +'*:'"></label></strong>
			<input class="form-control" th:field="*{oldPassword}" type="password" required="required"/>
			<br/>
			<strong><label for="newPassword" th:text="#{messages.changePassword.newPassword} +'*:'"></label></strong>
			<input class="form-control" th:field="*{newPassword}" type="password" required="required"/>
			<br/>
			<strong><label for="newPasswordConfirm" th:text="#{messages.changePassword.confirm-new-password} +'*:'"></label></strong>
			<input class="form-control" th:field="*{newPasswordConfirm}" type="password" required="required"/>
			<br />

			<p data-th-each="err: ${#fields.allErrors()}" data-th-text="${err}" class="error"></p>

			<input class="btn btn-primary" type="submit" th:value="#{messages.submitbutton}"/>


			<a class="btn btn-outline-danger" href="/userhome" th:text="#{messages.changePassword.cancel-and-go-back}"></a>
		</form>
	</div>
</html>