<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Change Password Form</title>
</head>
<body>

	<h2>Change Password Form</h2>
	

	<form action="#" th:action="@{/changepassword}"
		th:object="${changePasswordDto}" method="POST">		
		
		<label for="oldPassword">Old Password*:</label>
		<input th:field="*{oldPassword}" type="password" required="required"/>
		<br />

		<label for="newPassword">New Password*:</label>
		<input th:field="*{newPassword}" type="password" required="required"/>
		<br />
		
		<label for="newPasswordConfirm">Confirm New Password*:</label>
		<input th:field="*{newPasswordConfirm}" type="password" required="required"/>
		<br />
		
		<p data-th-each="err: ${#fields.allErrors()}" data-th-text="${err}" class="error"></p>
		
		<input type="submit"/>
	</form>
</body>
</html>