<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title th:text="#{messages.fragments.navigation.change-profile}"></title>
</head>
<body>
	<div th:insert="fragments/navigation :: navigation"></div>

	<h2 th:text="#{messages.fragments.navigation.change-profile}"></h2>
	<h3 th:text="#{messages.changePassword}"></h3>
	

	<form action="#" th:action="@{/changepassword}"
		th:object="${changePasswordDto}" method="POST">		
		
		<label for="oldPassword" th:text="#{messages.changePassword.oldPassword}"></label>
		<input th:field="*{oldPassword}" type="password" required="required"/>
		<br />

		<label for="newPassword" th:text="#{messages.changePassword.newPassword}"></label>
		<input th:field="*{newPassword}" type="password" required="required"/>
		<br />
		
		<label for="newPasswordConfirm" th:text="#{messages.changePassword.confirm-new-password}"></label>
		<input th:field="*{newPasswordConfirm}" type="password" required="required"/>
		<br />
		
		<p data-th-each="err: ${#fields.allErrors()}" data-th-text="${err}" class="error"></p>
		
		<input type="submit" th:value="#{messages.submitbutton}"/>
		
		<br>
		<a href="/userhome" th:text="#{messages.changePassword.cancel-and-go-back}"></a>
	</form>
</body>
</html>