<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(#{messages.updateUser}, ~{ :: .navigation}, ~{ :: .content})">
	<div class="navigation">
		<div th:insert="fragments/navigation :: navigation"></div>
	</div>
	<div class="content">
		<h2 th:text="#{messages.fragments.navigation.change-profile}"></h2>
		<h3 th:text="#{messages.updateUser}"></h3>

		<form action="#" th:action="@{/updateuser}"
			  th:object="${updateUserDto}" method="POST">

			<label for="username" th:text="#{messages.updateUser.username}"></label>
			<input class="form-control" th:field="*{username}" type="text" required="required"/>
			<br />

			<div class="row">
				<div class="col-sm-6">
					<label for="firstName" th:text="#{messages.updateUser.firstName}"></label>
					<input class="form-control" th:field="*{firstName}" type="text"/>
				</div>
				<div class="col-sm-6">
					<label for="lastName" th:text="#{messages.updateUser.lastName}"></label>
					<input class="form-control" th:field="*{lastName}" type="text"/>
				</div>
			</div>
			<br />

			<label for="email" th:text="#{messages.updateUser.email}"></label>
			<input class="form-control" th:field="*{email}" type="text" required="required"/>
			<br />

			<label for="birthdate" th:text="#{messages.updateUser.birthdate}"></label>
			<input class="form-control" th:field="*{birthdate}" type="date" />
			<br />

			<p data-th-each="err: ${#fields.allErrors()}" data-th-text="${err}" class="error"></p>

			<input class="btn btn-primary" type="submit"/>
		</form>
	</div>
</html>