<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Update User Form</title>
</head>
<body>
	<!-- Debug section: TODO implement multiple languages
	<a href="registration?lang=de">de</a>
	<a href="registration?lang=fr">fr</a>
	<a href="registration?lang=en">en</a>
	END OF DEBUG SECTION -->
	
	<h2>Update User Form</h2>
	

	<form action="#" th:action="@{/updateuser}"
		th:object="${updateUserDto}" method="POST">		
		
		<label for="username">Username*:</label>
		<input th:field="*{username}" type="text" required="required"/>
		<br />
		
		<label for="firstName">First Name:</label>
		<input th:field="*{firstName}" type="text"/>
		<br />
		
		<label for="lastName">Last Name:</label>
		<input th:field="*{lastName}" type="text"/>
		<br />
		
		<label for="email">E-Mail*:</label>
		<input th:field="*{email}" type="text" required="required"/>
		<br />
		
		<label for="birthdate">Birthdate:</label>
		<input th:field="*{birthdate}" type="date" />
		<br />
		
		<p data-th-each="err: ${#fields.allErrors()}" data-th-text="${err}" class="error"></p>
		
		
		<input type="submit"/>
	</form>
</body>
</html>