<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Enter Data</title>
</head>
<body>
	<div th:insert="fragments/navigation :: navigation"></div>
	
	<h2>Edit existing Data</h2>
	
	<form action="#" th:action="@{/data/datacollection/enter-data}" method="GET">
		<input name="date" type="date" required="required" th:value="${date}" />
		<input type="submit" value="Change date and reload"	/>
	</form>
	
	<form id="loadDataFromYesterdayForm" action="#" th:action="@{/data/datacollection/enter-data} + '#setTodayAfterLoad'" method="GET">
		<input name="date" id="dateHidden" type="hidden" th:value="${date}" />
	</form>
	
	<br />

	<form id="actualForm" action="#" th:action="@{/data/datacollection/enter-data}"
		th:object="${activeParametersNumeric}" method="POST">

		<h2>Enter Data</h2>
		
		<button id="loadDataFromYesterday">Overwrite with data from yesterday</button>
		<br /><br />
		
		<!--  input type="date"-->
		<label for="date">Date:</label>
		<input id="actualDate" name="date" type="date" required="required" th:value="${date}" />
		<br /><br />

		<th:block th:each="parameter : ${activeParametersNumeric}">
			<label th:text="${parameter.paramName}"></label>
			<div th:text="${parameter?.description}"></div>
			<span th:text="${parameter?.minValue != null} ? 'Value must be between ' + ${parameter.minValue} + ' and ' + ${parameter.maxValue} : '' "  />
			<br>
			<input type="number" step="0.01" th:min="${parameter?.minValue}" th:max="${parameter?.maxValue}"
				th:name="${'numeric_parameter_' + parameter.id}"
				th:value="${numericParameterMap.get(parameter.id)}"
				required="required" />
			<br>
			<br>
		</th:block>

		<th:block th:each="parameter : ${activeParametersString}">
			<label th:text="${parameter.paramName}"></label>
			<div th:text="${parameter?.description}"></div>				
			<textarea th:name="${'string_parameter_' + parameter.id}"
				th:value="${stringParameterMap.get(parameter.id)}"
				th:inline="text">[[${stringParameterMap.get(parameter.id)}]]</textarea>
			<br>
			<br>
		</th:block>

		<th:block th:each="parameter : ${activeParametersBoolean}">
			<label th:text="${parameter.paramName}"></label>
			<div th:text="${parameter?.description}"></div>
			
			<input type="radio" th:name="${'boolean_parameter_' + parameter.id}" value="true"
				th:checked="${booleanParameterMap.get(parameter.id) != null} ? (${booleanParameterMap.get(parameter.id)} ? ${true} : ${false})" required="required" />
			<label th:for="${'boolean_parameter_' + parameter.id}">yes</label>
			
			<input type="radio" th:name="${'boolean_parameter_' + parameter.id}" value="false" 
				th:checked="${booleanParameterMap.get(parameter.id) != null} ? (${booleanParameterMap.get(parameter.id)} ? ${false} : ${true})" required="required" />
			<label th:for="${'boolean_parameter_' + parameter.id}">no</label>

			<br>
			<br>
		</th:block>
		
		<input type="submit" />

	</form>
	<script>
	
		function zeroPad(number, width){
			 width -= number.toString().length;
			  if ( width > 0 )
			  {
			    return new Array( width + (/\./.test( number ) ? 2 : 1) ).join( '0' ) + number;
			  }
			  return number + ""; // always return a string
		}
	
		function getToday() {
			var today = new Date();
			return today.getFullYear()+'-'+(zeroPad(today.getMonth()+1, 2))+'-'+zeroPad(today.getDate(), 2);
		}
		
		function getYesterday() {
			var date = new Date();
			date.setDate(date.getDate() - 1);
			return date.getFullYear()+'-'+(zeroPad(date.getMonth()+1, 2))+'-'+zeroPad(date.getDate(), 2);			
		}
	
		document.addEventListener("DOMContentLoaded", function() {
			var button = document.getElementById("loadDataFromYesterday").addEventListener("click", function (e) {
				e.preventDefault();
				var date = document.getElementById("dateHidden");
				date.value = getYesterday();
				
				var form = document.getElementById("loadDataFromYesterdayForm");
				form.submit();
			});
			
			if (window.location.hash == "#setTodayAfterLoad") {
				var form = document.getElementById("actualForm");
				var date = document.getElementById("actualDate");
				date.value = getToday();
			}
		});
	</script>
</body>
</html>