<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(#{messages.fragments.navigation.enter-and-analyze-data}, ~{ :: .navigation}, ~{ :: .content})">
	<div class="navigation">
		<div th:insert="fragments/navigation :: navigation"></div>
	</div>
	<div class="content">
		<h2 th:text="#{messages.fragments.navigation.enter-and-analyze-data}"></h2>

		<div>
			<span th:text="#{messages.enter-and-analyze-data.text}"></span>
		</div>
	</div>
</html>