<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>	
		<title>Analyze Data</title>
	</head>
	<body>
		<div th:insert="fragments/navigation :: navigation"></div>

		<canvas id="canvas"></canvas>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
   			var jsonString = /*[[${data}]]*/ 'default';
			/*]]>*/
		</script>
	
		<script>
			let colorIndex = 0;

			const colors = ['#3366cc', '#dc3912', '#ff9900', '#109618', '#990099',
				'#990099', '#0099c6', '#dd4477', '#66aa00', '#b82e2e',
				'#316395', '#994499', '#22aa99', '#aaaa11', '#6633cc',
				'#e67300', '#8b0707', '#651067', '#329262', '#5574a6',
				'#3b3eac', '#b77322', '#16d620', '#b91383', '#f4359e',
				'#9c5935', '#a9c413', '#2a778d', '#668d1c', '#bea413',
				'#0c5922', '#743411'
			];

			function getNextColor() {
				if (colorIndex > colors.length) {
					colorIndex = 0;
				}

				let color = colors[colorIndex];

				colorIndex++;

				return color;
			}

			document.addEventListener("DOMContentLoaded", function () {
				var data = JSON.parse(jsonString);

				var dates = [];
				
				Object.values(data).map(function(item) {
					item.values.map(function (dateValue) {
						if (!dates.includes(dateValue.date)) {
							dates.push(dateValue.date);
						}
					});
				});

				
				/*var parameterNames = jsondata.map(function(e) {
					return e.parameterName;
				});
				
				var minValue = jsondata.map(function(e) {
					return e.minValue;
				});
				
				var maxValue = jsondata.map(function(e) {
					return e.maxValue;
				});
				
				var datadate = jsondata.parameterName.map(function(e) {
					return e.date;
				});
				
				var datavalue = jsondata.parameterName.map(function(e) {
					return e.value;
				});*/

				var datasets = [];

				const colors = ['#3366cc', '#dc3912', '#ff9900', '#109618', '#990099',
								'#0099c6', '#dd4477', '#66aa00', '#b82e2e', '#316395',
					            '#994499', '#22aa99', '#aaaa11', '#6633cc', '#e67300',
					            '#8b0707', '#651067', '#329262', '#5574a6', '#3b3eac',
					            '#b77322', '#16d620', '#b91383', '#f4359e', '#9c5935',
								'#a9c413', '#2a778d', '#668d1c', '#bea413', '#0c5922',
					            '#743411'
				];

				/*[{
					label: 'Graph Line',
					data: [1,2,3,4]
				}]*/

				Object.values(data).map(function(item) {
					let values = [];
					item.values.map(function (dateValue) {
						values.push(dateValue.value);
					});
					let color = getNextColor();
					datasets.push({
						label: item.parameterName,
						data: values,
						backgroundColor: color,
						borderColor: color,
					});
				});

				var ctx = document.getElementById('canvas').getContext('2d');
				var config = {
					type: 'line',
					data: {
						labels: dates,
						datasets: datasets
					},
					options: {

					}
				};
			
				var chart = new Chart(ctx, config);
			});
			
		</script>
	</body>
</html>