<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>	
		<title>Analyze Data</title>
	</head>
	<body>
		<form action="#" th:action="@{/data/datacollection/show-data}" method="GET">
			
		</form>
	
		<div th:insert="fragments/navigation :: navigation"></div>

		<canvas id="canvas"></canvas>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
   			var jsonString = /*[[${data}]]*/ 'default';
			/*]]>*/
		</script>
	
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				var data = JSON.parse(jsonString);

				var dates = [];
				
				Object.values(data).map(function(item) {
					item.values.map(function (dateValue) {
						if (!dates.includes(dateValue.date)) {
							dates.push(dateValue.date);
						}
					});
				});

				
				/*var parameterNames = jsondata.map(function(e) {
					return e.parameterName;
				});
				
				var minValue = jsondata.map(function(e) {
					return e.minValue;
				});
				
				var maxValue = jsondata.map(function(e) {
					return e.maxValue;
				});
				
				var datadate = jsondata.parameterName.map(function(e) {
					return e.date;
				});
				
				var datavalue = jsondata.parameterName.map(function(e) {
					return e.value;
				});*/

				var datasets = [];



				/*[{
					label: 'Graph Line',
					data: [1,2,3,4]
				}]*/

				Object.values(data).map(function(item) {
					let values = [];
					item.values.map(function (dateValue) {
						values.push(dateValue.value);
					});
					datasets.push({
						label: item.parameterName,
						data: values
					});
				});

				var ctx = document.getElementById('canvas').getContext('2d');
				var config = {
						type: 'line',
						data: {
							labels: dates,
							datasets: datasets
						}
				};
			
				var chart = new Chart(ctx, config);
			});
			
		</script>
	</body>
</html>