<div th:fragment="managecustomparameter-edit">
	<form action="#" th:action="@{/data/managecustomparameter}"
		th:object="${managecustomparameter}" method="POST">
		
		<h2>Manage Parameter</h2>
	
		
		<br>
		<h4>Edit Existing Parameters</h4>
		
		<p>Check the parameters to set them active, uncheck them to set them inactive</p>
		
		<th:block th:each="parameter : ${managecustomparameter}">
			<input
				type="checkbox"
				th:name="checkedCustomParameters[]"
				th:value="${parameter.id}"
				th:checked="${parameter.active} ? ${true}: ${false}"
				/>
			<label th:text="${parameter.paramName}"></label>
			<br>
		</th:block>
		
		<br>
		
		<br>
		<input type="submit" />
	</form>
</div>