<div th:fragment="navigation">
	<ul>
		<li>Change Profile
			<ul>
				<li><a href="/updateuser">Update User Info</a></li>
				<li><a href="/changepassword">Change Password</a></li>
			</ul>
		</li>

		<li>Manage Parameters
			<ul>
				<li><a href="/data/parameter-configuration/configure-parameter-status">Manage Parameter: enable / disable parameter</a></li>
				<li><a href="/data/parameter-configuration/update-customparameter">Manage Parameter: modify custom parameters</a></li>
				<li><a href="/data/parameter-configuration/add-parameter">Add Custom Parameter</a></li>
			</ul>
		</li>
		<li>Enter and Analyze Data
			<ul>
				<li><a href="/data/datacollection/enter-data">Enter Daily Data</a></li>
				<li><a href="/data/datacollection/analyze-data">Analyze Data</a></li>
			</ul>
		</li>

		<li>
			<a href="/logout">Logout</a>
		</li>
	</ul>
</div>