<div th:fragment="navigation">
	<ul>
		<li>Change Profile
			<ul>
				<li><a href="/updateuser">Update User Info</a></li>
				<li><a href="/changepassword">Change Password</a></li>
			</ul>
		</li>

		<li>Do the real shit in here
			<ul>
				<li><a href="/data/predefined-parameter/configure">Manage Predefined Parameter</a></li>
				<li><a href="/data/custom-parameter/edit">Manage Custom Parameter</a></li>
				<li><a href="/data/custom-parameter/add">Add Custom Parameter</a></li>
				<li><a href="/data/analyzedata">Analyze Data</a></li>
			</ul>
		</li>

		<li>
			<a href="/logout">Logout</a>
		</li>
	</ul>
</div>