<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(#{messages.account-verified.title}, ~{ :: .navigation}, ~{ :: .content})">
	<div class="navigation">
		<div th:insert="fragments/navigation :: navigation"></div>
	</div>
	<div class="content">
		<h2 th:text="#{messages.account-verified.title}"></h2>
		<div>
			<span th:text="#{messages.account-verified.account-activated}"></span>
			<a href="/userhome" th:text="#{messages.account-verified.login}"></a>
		</div>
	</div>
</html>