<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Manage Parameter</title>

</head>
<body>
	<div th:insert="fragments/navigation :: navigation"></div>

	<form action="#" th:action="@{/data/custom-parameter/edit}"
		th:object="${managecustomparameter}" method="POST">
		
		<h2>Manage Parameter</h2>
	
		
		<br>
		<h4>Edit Existing Parameters</h4>
		
		<p>Check the parameters to set them active, uncheck them to set them inactive</p>
		
		<th:block th:each="parameter : ${managecustomparameter}">
			<input
				type="checkbox"
				th:name="checkedCustomParameters[]"
				th:value="${parameter.id}"
				th:checked="${parameter.active} ? ${true}: ${false}"
				/>
			<label th:text="${parameter.paramName}"></label>
			<br>
		</th:block>
		
		<br>
		
		<br>
		<input type="submit" />
	</form>
		
</body>
</html>