<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(#{messages.fragments.navigation.manage-parameters}, ~{ :: .navigation}, ~{ :: .content})">
	<div class="navigation">
		<div th:insert="fragments/navigation :: navigation"></div>
	</div>
	<div class="content">
		<form action="#" th:action="@{/data/parameter-configuration/configure-parameter-status}"
			  th:object="${managepredefinedparameter}" method="POST">

			<h2 th:text="#{messages.fragments.navigation.manage-parameters}"></h2>

			<p th:text="#{messages.configure-parameter-status.text}"></p>

			<h3 th:text="#{messages.configure-parameter-status.title.predefinedParameters}"></h3>
			<th:block th:each="parameter : ${managepredefinedparameter}">
				<input type="checkbox" th:name="checkedPredefinedParameters[]"
					   th:value="${parameter.id}"
					   th:checked="${parameter.active} ? ${true}: ${false}" />
				<label th:text="${parameter.paramName}"></label>
				<div th:text="${parameter?.description}"></div>
				<br>
			</th:block>

			<br>
			<h3 th:text="#{messages.configure-parameter-status.title.customParameters}"></h3>
			<th:block th:each="parameter : ${managecustomparameter}">
				<input type="checkbox" th:name="checkedCustomParameters[]"
					   th:value="${parameter.id}"
					   th:checked="${parameter.active} ? ${true}: ${false}" />
				<label th:text="${parameter.paramName}"></label>
				<br>
			</th:block>

			<br> <br>

			<input type="submit" th:value="#{messages.submitbutton}"/>

		</form>
	</div>
</html>