<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Manage Parameter</title>

</head>
<body>
	<div th:insert="fragments/navigation :: navigation"></div>

	<form action="#"
		th:action="@{/data/parameter-configuration/update-customparameter}"
		th:object="${updateCustomParameterDtoListWrapper}" method="POST">

		<h2>Manage Parameter</h2>

		<h3>Attention when setting minimum and maximum value</h3>
		<p>
			You can set min- and max- values for your numeric parameters here. This will be used to
			display a reasonable graph when analyzing your data. If not set, the lines will have a
			range between the smallest and the highest of your entries.
			
			You cannot set a higher minimum value more than the smallest value you have ever entered
			and you cannot set the maximum value lower than your so far highest entered value.
		</p>
		
		<th:block th:each="parameter, stat : *{updateCustomParameterDtoList}">
			<label th:text="${parameter.paramName}"></label>
			<br />
			<label>min-value</label>			
			<input type="number" th:max="*{updateCustomParameterDtoList[__${stat.index}__].minValue}" step="0.01" th:field="*{updateCustomParameterDtoList[__${stat.index}__].minValue}" />
			<label>max-value</label>
			<input type="number" th:min="*{updateCustomParameterDtoList[__${stat.index}__].maxValue}" step="0.01" th:field="*{updateCustomParameterDtoList[__${stat.index}__].maxValue}" />
			<input type="hidden" th:field="*{updateCustomParameterDtoList[__${stat.index}__].id}" />
			<input type="hidden" th:field="*{updateCustomParameterDtoList[__${stat.index}__].paramName}" />
			<input type="hidden" th:field="*{updateCustomParameterDtoList[__${stat.index}__].description}" />
			<br /><br />
		</th:block>

		<br> <br> <input type="submit" />

	</form>

</body>
</html>