<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="#{messages.fragments.navigation.manage-parameters}"></title>

</head>
<body>
	<div th:insert="fragments/navigation :: navigation"></div>

	<form action="#"
		th:action="@{/data/parameter-configuration/update-customparameter}"
		th:object="${updateCustomParameterDtoListWrapper}" method="POST">

		<h2 th:text="#{messages.fragments.navigation.manage-parameters}"></h2>

		<h3 th:text="#{messages.update-customparameter}"></h3>
		<p th:text="#{messages.update-customparameter.text}"></p>
		
		<th:block th:each="parameter, stat : *{updateCustomParameterDtoList}">
			<label th:text="${parameter.paramName}"></label>
			<br />
			<label th:text="#{messages.update-customparameter.min-value}"></label>			
			<input type="number" th:max="*{updateCustomParameterDtoList[__${stat.index}__].lowestValue}" step="0.01" th:field="*{updateCustomParameterDtoList[__${stat.index}__].minValue}" />
			<label th:text="#{messages.update-customparameter.max-value}"></label>
			<input type="number" th:min="*{updateCustomParameterDtoList[__${stat.index}__].highestValue}" step="0.01" th:field="*{updateCustomParameterDtoList[__${stat.index}__].maxValue}" />
			<input type="hidden" th:field="*{updateCustomParameterDtoList[__${stat.index}__].id}" />
			<input type="hidden" th:field="*{updateCustomParameterDtoList[__${stat.index}__].paramName}" />
			<input type="hidden" th:field="*{updateCustomParameterDtoList[__${stat.index}__].description}" />
			<br /><br />
		</th:block>

		<br> <br>
		<input type="submit" th:value="#{messages.submitbutton}"/>

	</form>

</body>
</html>