<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="fragments/layout :: layout(#{messages.home.title.welcome}, ~{ :: .navigation}, ~{ :: .content})">
	<div class="navigation">
		<div sec:authorize="isAuthenticated()">
			<div th:insert="fragments/navigation :: navigation"></div>
		</div>
	</div>
	<div class="content">
		<div sec:authorize="isAuthenticated()">
			<div>
				<span th:text="#{messages.home.hello}"></span>
				<span th:text="${#authentication.name}"></span>
			</div>
			<div>
				<span th:text="#{messages.home.already-logged-in}"></span>
				<strong><a href="/userhome" th:text="#{messages.home.userhome}"></a></strong>
			</div>
		</div>

		<div sec:authorize="!isAuthenticated()">
			<div>
				<span th:text="#{messages.home.do-you-have-an-account}"></span>
				<strong><a href="/userhome" th:text="#{messages.home.login}"></a></strong>
			</div>

			<div>
				<span th:text="#{messages.home.do-you-want-to-sign-up}"></span>
				<strong><a href="/registration"	th:text="#{messages.home.register}"></a></strong>
			</div>
		</div>
		
		<div>
			Test
		</div>
	</div>
</html>